APP_NAME=AuthService
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8001

DB_CONNECTION=pgsql
DB_HOST=postgres_auth
DB_PORT=5432
DB_DATABASE=auth_db
DB_USERNAME=postgres
DB_PASSWORD=secret

JWT_SECRET=clave_super_secreta_compartida_cambiar_en_produccion
JWT_TTL=60
JWT_REFRESH_TTL=20160
JWT_BLACKLIST_ENABLED=true
